################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/sparplaner/bin/Debug/net10.0
/sparplaner/obj
